services:
  - type: web
    name: pdfmaster-api
    runtime: docker
    rootDir: pdfmaster-service
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PORT
        value: 8000
      - key: PYTHON_VERSION
        value: 3.11
    healthCheckPath: /health
    autoDeploy: true
